<section data-ng-controller="ownedresourcesController" data-ng-init="find()">
  <div class="page-header">
    <h1>ownedresources</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="ownedresource in ownedresources" data-ui-sref="ownedresources.view({ownedresourceId: ownedresource._id})" class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span data-ng-bind="ownedresource.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="ownedresource.user.username"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="ownedresource.resource.name"></h4>
      Amount: <p class="list-group-item-text" data-ng-bind="ownedresource.count"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="ownedresources.$resolved && !ownedresources.length">
    No ownedresources yet, why don't you <a data-ui-sref="ownedresources.create">create one</a>?
  </div>
</section>
