<section data-ng-controller="ResourcesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="resource.name"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == resource.user._id">
    <a class="btn btn-primary" data-ui-sref="resources.edit({resourceId: resource._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="resource.created | date:'mediumDate'"></span>
    </em>
  </small>
  <img ng-attr-src="resource.picture"></img>
</section>
