<section data-ng-controller="tradesController" data-ng-init="find()">
  <div class="page-header">
    <h1>trades</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="trade in trades" data-ui-sref="trades.view({tradeId: trade._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="trade.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="trade.user1.username"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="trade.resource1.name"></h4>
      <p class="list-group-item-text" data-ng-bind="trade.user1.username"></p>
      <h4 class="list-group-item-heading" data-ng-bind="trade.resource2.name"></h4>
      <p class="list-group-item-text" data-ng-bind="trade.user2.username"></p>
      <a class="btn btn-primary" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="trades.$resolved && !trades.length">
    No trades yet, why don't you <a data-ui-sref="trades.create">create one</a>?
  </div>
</section>
